.services.main-section
    .container
        h2.main-title-dark Dịch vụ 
        .services__list 
            -for(i=0;i<10;i++)
                .services__items
                    .item 
                        a.box-img(href="")
                            img(src="./img/sv-1.png", alt="")
                        .caption 
                            a.title(href="") Vận tải đường bộ 
                            a.view-more-btn(href="") Xem thêm 
                                em.mdi.mdi-chevron-right
