.projects.main-section
    .container 
        h2.main-title-dark Dự án
        .projects__list 
            -for(i=0;i<7;i++)
                .projects__item 
                    .item-img 
                        img(src="./img/pj-1.png", alt="")
                    .item-content 
                        h3.title Dầu khí
                        p Đây là các dự án mà Vietranstimex thực hiện trọn gói bao gồm các khâu: thiết kế cấu hình rơ mooc, tính toán kết cấu, tính toán ballast, mooring, fastening, lashing.., vận chuyển từ bãi chế tạo ra cầu cảng và loat-out/in xuống/lên sà lan theo yêu cầu của khách hàng.
                        a.view-more-btn(href="") Xem thêm 
                            em.mdi.mdi-chevron-right