.tabs-accordion-checker
    .tab
        input#chck1(type='checkbox')
        label.tab-label(for='chck1') Item 1
        .tab-content
            | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
    .tab
        input#chck2(type='checkbox')
        label.tab-label(for='chck2') Item 2
        .tab-content
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!