header#header
    .header-wrapper
        .header 
            .header__logo 
                a(href="").logo 
                    img(src="./img/logo.png", alt="")
            .header__nav 
                .nav-top
                    .menu
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="") Quan hệ cổ đông 
                            li.menu__item
                                a.menu__link(href="") Mạng lưới hoạt động
                            li.menu__item
                                a.menu__link(href="") Truyền thống 
                .nav-bottom 
                    .menu 
                        ul.menu__list
                            li.menu__item
                                a.menu__link(href="") Giới thiệu 
                            li.menu__item
                                a.menu__link(href="") Dự án 
                            li.menu__item
                                a.menu__link(href="") Sản phẩm 
                            li.menu__item
                                a.menu__link(href="") Dịch vụ 
                            li.menu__item
                                a.menu__link(href="") Tin tức 
                            li.menu__item
                                a.menu__link(href="") Tuyển dụng 
                            li.menu__item
                                a.menu__link(href="") Liên hệ
                    .language 
                        a(href="") EN 
                    .search-wrapper
                        .button-search 
                            em.fas.fa-search
                        .searchbox-wrap
                            .searchbox
                                input(type="text", name="" placeholder="Tìm kiếm...")
                                button(type="submit") 
                                    em.fas.fa-search
                    .toggle-btn 
                        .button 
                    .navbar-mobile 
                    .back-drop
