.news-detail-wrap 
    .container 
        .news-detail-inner
            .news-detail
                .heading
                    h2.title Kinh doanh kho bai 
                    div
                        date 20/21/12
                        #social-share 
                .full-content 
                    p Hiện tại, hệ thống kho bãi của Công ty CP Vận tải đa phương thức được trải đều trên các vùng miền của nước Việt Nam, từ thủ đô Hà Nội đến TP Hồ Chí Minh. Diện tích các kho kín từ 500m2 đến 2.000m2 và diện tích bãi từ 3.000m2 đến 18.000m3. Hệ thống kho này được Công ty khai thác sử dụng trong dịch vụ Logitech và cho thuê kho bãi.
                    img(src="./img/sv-1.png", alt="")
                    
            .other-news
                .heading Tin tức khác
                .other-news__list 
                    -for(i=0;i<5;i++)
                        .other-news__item 
                            a(href="").box-img 
                                img(src="./img/pj-1.png", alt="")
                            .caption 
                                date 20/21/12 
                                a.title(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia est veniam quisquam ducimus assumenda iure. Dolorum, ullam recusandae officia possimus quasi repudiandae iure, odit amet aspernatur sunt eos quam rerum!
                                    
                    
