section.home-contact.section.fp-auto-height(data-anchor="section-8")
    .container
        .home-contact__inner 
            h2.main-title Liên hệ
            .wrap-form 
                .form-group 
                    input(type="text" placeholder="Họ tên")
                .form-group 
                    input(type="text" placeholder="Họ tên")
                .form-group
                    input(type="text" placeholder="Họ tên")
                .form-group.textarea
                    textarea(name="", cols="30", rows="10" placeholder="nội dung")
                .form-group.submit
                    input(type="submit", value="Đăng ký")
                                        
                                
