.services-detail
    .container 
        .heading
            h2.title Kinh doanh kho bai 
            #social-share 
        .full-content 
            img(src="./img/sv-1.png", alt="")
            p Hiện tại, hệ thống kho bãi của Công ty CP Vận tải đa phương thức được trải đều trên các vùng miền của nước Việt Nam, từ thủ đô Hà Nội đến TP Hồ Chí Minh. Diện tích các kho kín từ 500m2 đến 2.000m2 và diện tích bãi từ 3.000m2 đến 18.000m3. Hệ thống kho này được Công ty khai thác sử dụng trong dịch vụ Logitech và cho thuê kho bãi.
            .list-item 
                .item 
                    .item__img 
                        .box-img
                            img(src="./img/sv-1.png", alt="")
                    .item__text 
                        ul
                            li 
                                strong Địa điểm: 
                                | Hà Nội
                            li 
                                strong Diện tích bãi:
                                | 15.000 m2
                            li 
                                strong Diện tích kho:
                                |  2.000 m2
                            li 
                                strong Vị trí:
                                | Nằm cạnh cầu Vĩnh Tuy & cầu Thanh Trì Hà Nội
                .item 
                    .item__img 
                        .box-img
                            img(src="./img/sv-1.png", alt="")
                    .item__text 
                        ul
                            li 
                                strong Địa điểm: 
                                | Hà Nội
                            li 
                                strong Diện tích bãi:
                                | 15.000 m2
                            li 
                                strong Diện tích kho:
                                |  2.000 m2
                            li 
                                strong Vị trí:
                                | Nằm cạnh cầu Vĩnh Tuy & cầu Thanh Trì Hà Nội
                .item 
                    .item__img 
                        .box-img
                            img(src="./img/sv-1.png", alt="")
                    .item__text 
                        ul
                            li 
                                strong Địa điểm: 
                                | Hà Nội
                            li 
                                strong Diện tích bãi:
                                | 15.000 m2
                            li 
                                strong Diện tích kho:
                                |  2.000 m2
                            li 
                                strong Vị trí:
                                | Nằm cạnh cầu Vĩnh Tuy & cầu Thanh Trì Hà Nội
                .item 
                    .item__img 
                        .box-img
                            img(src="./img/sv-1.png", alt="")
                    .item__text 
                        ul
                            li 
                                strong Địa điểm: 
                                | Hà Nội
                            li 
                                strong Diện tích bãi:
                                | 15.000 m2
                            li 
                                strong Diện tích kho:
                                |  2.000 m2
                            li 
                                strong Vị trí:
                                | Nằm cạnh cầu Vĩnh Tuy & cầu Thanh Trì Hà Nội
.other-services.main-section
    .container 
        h2.main-title-dark Dịch vụ khác
        .other-services__slider
            .swiper-container
                .swiper-wrapper 
                    -for(i=0;i<5;i++)
                        .swiper-slide 
                            .items
                                .item 
                                    a.box-img(href="")
                                        img(src="./img/sv-1.png", alt="")
                                    .caption 
                                        a.title(href="") Vận tải đường bộ 
                                        a.view-more-btn(href="") Xem thêm 
                                            em.mdi.mdi-chevron-right
                        
            .swiper-nav
                .button-prev
                    em.mdi.mdi-chevron-left
                .button-next
                    em.mdi.mdi-chevron-right

