section.home-projects.section(data-anchor="section-4")
    .container.home-projects__slider  
        .swiper-container 
            .swiper-wrapper 
                .swiper-slide 
                    .projects
                        .projects__content
                            .box-title 
                                .sub-title Dầu khí
                                h2.main-title Dự án Hạ thủy kiện Jacket RC9
                                a.btn-1 xem thêm 
                                    img(src="./img/btn-icon.png", alt="")
                            .box-content 
                                p Ngày 11/03/2016, 
                                p Vietranstimex đã di dời và hạ thủy thành công kiện Jacket RC9 (nặng 950 tấn; kích thước: D.52 x R.25 x C.22m) từ vị trí chế tạo xuống sà lan tại Cảng VietSovpetro – Thành phố Vũng Tàu.
                                p Ngoài tổ hợp rơ-mooc đặc chủng SPMT 24 trục x 2  cho việc di dời và hạ thủy, Vietranstimex sử dụng 04 bộ tời thủy lực mới được đầu tư (sức kéo 15 tấn; sức neo 25 tấn). Việc sử dụng 04 bộ tời đã góp phần tăng sự ổn định của sà lan trong quá trình hạ thủy, đảm bảo công việc được thực hiện một cách thuận lợi, kịp thời và an toàn.
                        .button-wrap 
                            a.btn-1 Xem thêm 
                                img(src="./img/btn-icon.png", alt="")
                .swiper-slide 
                    .projects
                        .projects__content
                            .box-title 
                                .sub-title Dầu khí
                                h2.main-title Dự án Hạ thủy kiện Jacket RC9
                                a.btn-1 xem thêm 
                                    img(src="./img/btn-icon.png", alt="")
                            .box-content 
                                p Ngày 11/03/2016, 
                                p Vietranstimex đã di dời và hạ thủy thành công kiện Jacket RC9 (nặng 950 tấn; kích thước: D.52 x R.25 x C.22m) từ vị trí chế tạo xuống sà lan tại Cảng VietSovpetro – Thành phố Vũng Tàu.
                                p Ngoài tổ hợp rơ-mooc đặc chủng SPMT 24 trục x 2  cho việc di dời và hạ thủy, Vietranstimex sử dụng 04 bộ tời thủy lực mới được đầu tư (sức kéo 15 tấn; sức neo 25 tấn). Việc sử dụng 04 bộ tời đã góp phần tăng sự ổn định của sà lan trong quá trình hạ thủy, đảm bảo công việc được thực hiện một cách thuận lợi, kịp thời và an toàn.
                        .button-wrap 
                            a.btn-1 Xem thêm 
                                img(src="./img/btn-icon.png", alt="")
                
        .swiper-nav
            .button-prev
                em.lnr.lnr-chevron-left
            .button-next
                em.lnr.lnr-chevron-right