.recruitment-detail-wrap 
    .container 
        .recruitment-detail-inner
            .recruitment-detail
                .heading
                    h2.title Kinh doanh kho bai 
                    div
                        date 20/21/12
                        #social-share 
                .full-content 
                    table.table 
                        tr 
                            td Lorem ipsum dolor 
                            td Lorem ipsum dolor 
                        tr 
                            td Lorem ipsum dolor 
                            td Lorem ipsum dolor 
                        tr 
                            td Lorem ipsum dolor 
                            td Lorem ipsum dolor 
                        tr 
                            td Lorem ipsum dolor 
                            td Lorem ipsum dolor 
                        tr 
                            td Lorem ipsum dolor 
                            td Lorem ipsum dolor 
                    .content 
                        h4 Mô tả công việc 
                        li Thiết lập, triển khai kế hoạch bảo dưỡng, sửa chữa định kỳ và đột xuất phương tiện vận tải – xếp dỡ
                        li Khảo sát, lập phương án kỹ thuật, tổ chức thực hiện các phương án vận chuyển – xếp dỡ thiết bị
                        h4 Yêu cầu 
                        li Nắm vững kiến thức chuyên ngành, có trình độ C tiếng Anh trở lên
                        li Ưu tiên tốt nghiệp loại khá trở lên, người có hộ khẩu thường trú tại khu vực trên
                        li Chấp nhận môi trường làm việc tại công trường lưu động trên phạm vi cả nước
                    .button-wrap 
                        a.btn-1#apply-btn(href="") Ứng tuyển 
                        a.btn-1(href="") Tải form ứng tuyển
            .other-recruitment
                .heading Tin tức khác
                .other-recruitment__list 
                    -for(i=0;i<5;i++)
                        .other-recruitment__item 
                            .caption 
                                date 20/21/12 
                                a.title(href="") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia est veniam quisquam ducimus assumenda iure. Dolorum, ullam recusandae officia possimus quasi repudiandae iure, odit amet aspernatur sunt eos quam rerum!
                                    
                    
