<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="contactList.xslt" name="Danh sách liên hệ"></templatelist>
  <templatelist xsltname="NewsList.xslt" name="Danh sách tin tức"></templatelist>
  <templatelist xsltname="video.xslt" name="Danh sách video"></templatelist>
  <templatelist xsltname="album.xslt" name="Danh sách album"></templatelist>
  <templatelist xsltname="e-brochure.xslt" name="E-brochure"></templatelist>
  <templatelist xsltname="download.xslt" name="download"></templatelist>
  <templatelist xsltname="services.xslt" name="Dịch vụ"></templatelist>
  <templatelist xsltname="recruitmentList.xslt" name="vị trí tuyển dụng"></templatelist>
  <templatelist xsltname="projectsList.xslt" name="Dự án"></templatelist>
  <templatelist xsltname="dtkh.xslt" name="Đối tác khách hàng"></templatelist>










  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
  <templatedetail xsltname="servicesDetail.xslt" name="Chi tiết dịch vụ"></templatedetail>
  <templatedetail xsltname="recruitmentDetail.xslt" name="Chi tiết tuyển dụng"></templatedetail>
  <templatedetail xsltname="projectsDetail.xslt" name="Chi tiết dự án"></templatedetail>




  <position>
    <!--<add name="Trang chủ" value="1" resourcefile="" />-->
  </position>
</templates>