section.album
    .container 
        h2.main-title-dark Truyền thông
        ul.nav-sub 
            li.active 
                a(href="") Thư viện ảnh 
            li 
                a(href="") Thư viện Album
        .album__gallery
            .row
                .col-sm-12.col-lg-6.left
                    .row.big 
                        .item
                            a(href="./img/pj-1.png" data-fancybox="image")
                                figure
                                    .image
                                        img(src="./img/pj-1.png", alt="alt")
                                    figcaption
                                        .title Album 1
                                        em.mdi.mdi-camera-iris
                                        
                    .row.small
                        .col-6
                            .item
                                a(href="./img/pj-1.png" data-fancybox="image")
                                    figure                        
                                        .image
                                            img(src="./img/pj-1.png", alt="alt")
                                        figcaption
                                            .title Album 2
                                            em.mdi.mdi-camera-iris
                        .col-6 
                            .item
                                a(href="./img/pj-1.png" data-fancybox="image")
                                    figure                          
                                        .image
                                            img(src="./img/pj-1.png", alt="alt")
                                        figcaption
                                            .title Album 3
                                            em.mdi.mdi-camera-iris
                .col-sm-12.col-lg-6.right
                    .row.small
                        .col-6 
                            .item
                                a(href="./img/pj-1.png" data-fancybox="image")
                                    figure
                                        
                                        .image
                                            img(src="./img/pj-1.png", alt="alt")
                                        figcaption
                                            .title Album 4
                                            em.mdi.mdi-camera-iris
                        .col-6 
                            .item
                                a(href="./img/pj-1.png" data-fancybox="image")
                                    figure
                                        
                                        .image
                                            img(src="./img/pj-1.png", alt="alt")
                                        figcaption
                                            .title Album 5
                                            em.mdi.mdi-camera-iris
                    .row.big 
                        .item
                            a(href="./img/pj-1.png" data-fancybox="image")
                                figure
                                    .image
                                        img(src="./img/pj-1.png", alt="alt")
                                    figcaption
                                        .title Album 6
                                        em.mdi.mdi-camera-iris