section.section-footer.section.fp-auto-height(data-anchor="section-9")
    .container
        .row.main-footer
            .col-lg-4.col-md-12.main-footer__info 
                h3 Công Ty cổ phần dược phẩm Thiên Dược 
                .list 
                    li 
                        em.mdi.mdi-home
                        span Lầu 9 Tòa nhà B&L Tower, số 119-121 Ung Văn Khiêm, Phường 25,  Quận Bình Thạnh, Tp. HCM
                    li 
                        em.mdi.mdi-phone
                        span (84) 28 38263621
                    li
                        em.mdi.mdi-printer
                        span (84) 28 38263622
                    
            .col-lg-5.col-md-12.main-footer__menu-wrapper
                .main-footer__menu 
                    h3 Liên kết
                    ul.main-footer__menu-list 
                        li.main-footer__menu-item 
                            a(href="") Người sáng lập
                        li.main-footer__menu-item 
                            a(href="") Công ty Thiên Dược
                        li.main-footer__menu-item 
                            a(href="") Vùng trồng nguyên liệu
                        li.main-footer__menu-item 
                            a(href="") Nhà máy sản xuất
                        li.main-footer__menu-item 
                            a(href="") Giải thưởng - Chứng nhận
                        li.main-footer__menu-item 
                            a(href="") Hỏi đáp
                .main-footer__menu 
                    h3 liên kết
                    ul.main-footer__menu-list 
                        li.main-footer__menu-item 
                            a(href="") Thiên Hoàng Sa
                        li.main-footer__menu-item 
                            a(href="") Crila@
                        li.main-footer__menu-item 
                            a(href="") Crilin@
                        li.main-footer__menu-item 
                            a(href="") Crila@Forte
            .col-lg-3.col-md-12.ul.social-icon
                h3 Kết nối với chúng tôi
                ul.list-item
                    li.item
                        a(href="#")
                            img(src="./img/fb.png", alt="")
                    li.item
                        a(href="#")
                            img(src="./img/yt.png", alt="")
                    li.item
                        a(href="#")
                            img(src="./img/tw.png", alt="")
                    li.item
                        a(href="#")
                            img(src="./img/in.png", alt="")
            #gotop 
                img(src="./img/top.png", alt="")
        .copyright
            p 2020 © Vietranstimex. Tất cả quyền được bảo mật. Thiết kế website bởi 
                a(href="") Cánh Cam.

                    

