
.about 
    .about-nav
        .container
            <!-- button visible on small devices -->
            a(href="javascript:void(0)" class="about-nav-trigger")
                .icon
            ul.about-nav__list 
                li.about-nav__item.active
                    a.about-nav__link(href="#section-1") About
                li.about-nav__item
                    a.about-nav__link(href="#section-2") About
                li.about-nav__item
                    a.about-nav__link(href="#section-3") About
                li.about-nav__item
                    a.about-nav__link(href="#section-4") About
                li.about-nav__item
                    a.about-nav__link(href="#section-5") About
                li.about-nav__item
                    a.about-nav__link(href="#section-6") About
                li.about-nav__item
                    a.about-nav__link(href="#section-7") About
                li.about-nav__item
                    a.about-nav__link(href="#section-8") About
                li.about-nav__item
                    a.about-nav__link(href="#section-9") About
    .main-content
        #section-1.section.about-section 
            .container 
                h2.main-title Giới thiệu
                .list-item 
                    .item 
                        .number 
                            span +40 
                            | năm 
                        p xây dựng và phát triển Vietranstimex
                    .item 
                        .number Top
                            span 50
                        p Công ty vận tải hàng nặng hàng đầu thế giới
                    .item 
                        .number 
                            span 550
                            | tấn
                        p Sức rơ-mooc tự hành và các cần cẩu
                .content 
                    .content__img 
                        img(src="./img/about-1.png", alt="")
                    .content__text 
                        p Trải qua hơn 40 năm xây dựng và phát triển, Vietranstimex là một doanh nghiệp vận tải hàng đầu ở Việt Nam và Khu vực về vận chuyển, xếp dỡ và lắp đặt hàng siêu trường siêu trọng, hàng dự án và thiết bị toàn bộ. Có mặt trong Top 50 Công ty vận tải hàng nặng hàng đầu thế giới liên tục từ 2011 đến nay.

                        p Chúng tôi chuyên cung cấp các dịch vụ vận tải đa phương thức quốc tế, bốc xếp và vận chuyển các loại hàng hóa, thiết bị siêu trường siêu trọng và hàng dự án dưới hình thức “chìa khóa trao tay”.

                        p VIETRANSTIMEX sở hữu và quản lý một khối lượng lớn máy móc, thiết bị hiện đại từ các đầu kéo và sơ-mi rơ-mooc thông thường cho đến các đầu kéo đặc chủng, rơ-mooc thủy lực thông thường, rơ-mooc tự hành và các cần cẩu có sức nâng lên tới 550 tấn.
        #section-2.section.tamnhin-section 
            .container 
                .content
                    h2.main-title Tầm nhìn 
                    p Trở thành một doanh nghiệp vận tải xếp dỡ với công nghệ tiên tiến, quản lý chuyên nghiệp và đổi mới liên tục, toàn diện
                    h2.main-title Sứ mệnh 
                    p Mang đến cho khách hàng sự an toàn, tin cậy tuyệt đối, nâng cao đời sống vật chất và tinh thần cho người lao động trong ngôi nhà chung Vietranstimex, góp phần vào công cuộc xây dựng đất nước ngày càng phồn vinh
        #section-3.section.giatri-section 
            .container
                .content 
                    .content__img 
                        img(src="./img/about-2.png", alt="")
                    .content__text 
                        h2.main-title Giá trị cốt lõi
                        .list-item 
                            .item 
                                .icon 
                                    img(src="./img/ic-1.png", alt="")
                                span Đoàn kết
                            .item 
                                .icon 
                                    img(src="./img/ic-1.png", alt="")
                                span Đoàn kết
                            .item 
                                .icon 
                                    img(src="./img/ic-1.png", alt="")
                                span Đoàn kết
        #section-4.section.history-section 
            .container 
                h2.main-title Lịch sử
                .thumbs-wrapper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .content
                                    .title 2019
                            .swiper-slide
                                .content
                                    .title 2020
                            .swiper-slide
                                .content
                                    .title 2019
                            .swiper-slide
                                .content
                                    .title 2019
                            
                    .swiper-btn-next
                        em.lnr.lnr-arrow-right
                    .swiper-btn-prev
                        em.lnr.lnr-arrow-left
                .top-wrapper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .content 
                                    .content__img 
                                        img(src="./img/about-4.png", alt="")
                                    .content__text 
                                        .title 2019 
                                        ul.list-item 
                                            li 
                                                strong Tên công ty: 
                                                | Công ty Vận tải Đa phương thức
                                            li 
                                                strong Địa chỉ: 
                                                | 80 - 82 Bạch Đằng - TP Đà Nẵng
                                            li 
                                                strong Ngày thành lập: 
                                                | 4/10/2007. Thủ tướng Chính phủ đã có Quyết định 1333/QĐ-TTg phê duyệt Phương án sắp xếp, đổi mới công ty nhà nước thuộc Bộ Giao thông Vận tải giai đoạn 2007-2009; trong đó năm 2008 cổ phần hóa Công ty Vận tải Đa phương thức.
                            .swiper-slide
                                .content 
                                    .content__img 
                                        img(src="./img/about-4.png", alt="")
                                    .content__text 
                                        .title 2020
                                        ul.list-item 
                                            li 
                                                strong Tên công ty: 
                                                | Công ty Vận tải Đa phương thức
                                            li 
                                                strong Địa chỉ: 
                                                | 80 - 82 Bạch Đằng - TP Đà Nẵng
                                            li 
                                                strong Ngày thành lập: 
                                                | 4/10/2007. Thủ tướng Chính phủ đã có Quyết định 1333/QĐ-TTg phê duyệt Phương án sắp xếp, đổi mới công ty nhà nước thuộc Bộ Giao thông Vận tải giai đoạn 2007-2009; trong đó năm 2008 cổ phần hóa Công ty Vận tải Đa phương thức.
                            .swiper-slide
                                .content 
                                    .content__img 
                                        img(src="./img/about-4.png", alt="")
                                    .content__text 
                                        .title 2020
                                        ul.list-item 
                                            li 
                                                strong Tên công ty: 
                                                | Công ty Vận tải Đa phương thức
                                            li 
                                                strong Địa chỉ: 
                                                | 80 - 82 Bạch Đằng - TP Đà Nẵng
                                            li 
                                                strong Ngày thành lập: 
                                                | 4/10/2007. Thủ tướng Chính phủ đã có Quyết định 1333/QĐ-TTg phê duyệt Phương án sắp xếp, đổi mới công ty nhà nước thuộc Bộ Giao thông Vận tải giai đoạn 2007-2009; trong đó năm 2008 cổ phần hóa Công ty Vận tải Đa phương thức.
        #section-5.section.maps-section 
            .container 
                h2.main-title Sơ đồ tổ chức 
                a(href="").box-img 
                    img(src="./img/about-5.png", alt="")
        #section-6.section.leadership-section 
            .container 
                h2.main-title Ban lãnh đạo
                ul.nav-sub 
                    li 
                        a(href="") Ban lãnh đạo 
                    li 
                        a(href="") Hội đồng quản trị
                .list-item
                    .item 
                        figure
                            .box-img 
                                img(src="./img/m1.png", alt="")
                            figcaption 
                                .subtitle Chủ tịch 
                                .title lê văn a 
                    .item 
                        figure
                            .box-img 
                                img(src="./img/m2.png", alt="")
                            figcaption 
                                .subtitle Chủ tịch 
                                .title lê văn a 
                    .item 
                        figure
                            .box-img 
                                img(src="./img/m3.png", alt="")
                            figcaption 
                                .subtitle Chủ tịch 
                                .title lê văn a 
        #section-7.section.policy-section 
            .bg 
                img(src="./img/about-6.png", alt="")
            h2.main-title Chính sách 
            .container 
                ul.accordions
                    -for(i=0; i<4; i++)
                        li.accordion-item
                            .accordion-title
                                span Biện pháp thực hiện
                                .icon
                            .accordion-content
                                .content
                                    .img 
                                        img(src="./img/about-9.png", alt="")
                                    p Công ty Cổ Phần Vận tải Đa phương thức luôn luôn phấn đấu huy động tối đa đồng bộ tất cả các nguồn lực (nhân lực, tài chính, thiết bị, công nghệ, vật tư) và xây dựng một hệ thống quản lý khoa học nhằm cung cấp cho khách hàng những dịch vụ có Chất lượng, đảm bảo An toàn, đúng Tiến độ và Giá cả hợp lý theo đúng các cam kết đã đề ra.
        #section-8.section.customer-section 
            .container 
                h2.main-title Khách hàng & Thành viên các hiệp hội nghề
                ul.nav-sub 
                    li 
                        a(href="") Khách hàng
                    li 
                        a(href="") Thành viên các hiệp hội nghề
                .slider 
                    .swiper-container 
                        .swiper-wrapper 
                            .swiper-slide 
                                a(href="").box-img 
                                    img(src="./img/about-icon1.png", alt="")
                            .swiper-slide 
                                a(href="").box-img 
                                    img(src="./img/about-icon2.png", alt="")
                            .swiper-slide 
                                a(href="").box-img 
                                    img(src="./img/about-icon1.png", alt="")
                            .swiper-slide 
                                a(href="").box-img 
                                    img(src="./img/about-icon1.png", alt="")
                            .swiper-slide 
                                a(href="").box-img 
                                    img(src="./img/about-icon1.png", alt="")
                            .swiper-slide 
                                a(href="").box-img 
                                    img(src="./img/about-icon1.png", alt="")
                            .swiper-slide 
                                a(href="").box-img 
                                    img(src="./img/about-icon1.png", alt="")
                            
                    .swiper-nav
                        .button-prev
                            em.mdi.mdi-chevron-left
                        .button-next
                            em.mdi.mdi-chevron-right
        #section-9.section.last-section 
            .container 
                .content 
                    .content__img 
                        .box-img
                            img(src="./img/about-9.png", alt="")
                    .content__text 
                        h2.main-title Hệ thống OHSAS 9001:2015
                        ul.list-item 
                            li 
                                strong Tên công ty: 
                                | Công ty Vận tải Đa phương thức
                            li 
                                strong Địa chỉ: 
                                | 80 - 82 Bạch Đằng - TP Đà Nẵng
                            li 
                                strong Ngày thành lập: 
                                | 4/10/2007. Thủ tướng Chính phủ đã có Quyết định 1333/QĐ-TTg phê duyệt Phương án sắp xếp, đổi mới công ty nhà nước thuộc Bộ Giao thông Vận tải giai đoạn 2007-2009; trong đó năm 2008 cổ phần hóa Công ty Vận tải Đa phương thức.


                                    
                    