.about 
    .about-nav
        .container
            ul.about-nav__list 
                li.about-nav__item.active
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
.product-2-wrapper.main-section
    .container 
        h2.main-title-dark Dầu khí
        .product-2
            .product-2__list
                -for(i=0;i<6;i++)
                    .product-2__items 
                        .item 
                            a.box-img(href="")
                                img(src="./img/sv-1.png", alt="")
                            .caption 
                                a.title(href="") Vận tải đường bộ 
                                a.view-more-btn(href="") Xem thêm 
                                    em.mdi.mdi-chevron-right