section.home-partners.section(data-anchor="section-3")
    .container 
        h2.main-title Đối Tác - Khách Hàng
        .home-partners__slider 
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide 
                        .partners 
                            .partners__list 
                                -for(i=0; i<11; i++)
                                    a.partners__item(href="") Alstom
                    .swiper-slide 
                        .partners 
                            .partners__list 
                                -for(i=0; i<11; i++)
                                    a.partners__item(href="") Alstom
                    
            .swiper-nav
                .button-prev
                    em.lnr.lnr-chevron-left
                .button-next
                    em.lnr.lnr-chevron-right
