.about 
    .about-nav
        .container
            ul.about-nav__list 
                li.about-nav__item.active
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
                li.about-nav__item
                    a.about-nav__link(href="") About
.projects-2-wrapper.main-section
    .container 
        h2.main-title-dark Dầu khí
        .projects-2
            .projects-2__list
                .projects-2__items 
                    .item 
                        a.box-img(href="")
                            img(src="./img/sv-1.png", alt="")
                        .caption 
                            .caption__top 
                                a.title(href="") Vận tải đường bộ 
                                p Vietranstimex tiếp tục thực hiện vận chuyển và hạ thủy thành công kiện Chân đế P12 (nặng 950 tấn; kích thước: D.48 x R.48 x C.32m) từ vị trí chế tạo xuống sà lan tại Cảng Vietsovpetro, Vũng Tàu
                            .caption__bottom
                                a.view-more-btn(href="") Xem thêm 
                                    em.mdi.mdi-chevron-right
                -for(i=0;i<6;i++)
                    .projects-2__items 
                        .item 
                            a.box-img(href="")
                                img(src="./img/sv-1.png", alt="")
                            .caption 
                                a.title(href="") Vận tải đường bộ 
                                a.view-more-btn(href="") Xem thêm 
                                    em.mdi.mdi-chevron-right