extends _layout.pug

block var
	- var title = 'news-detail'
	- var bodyClass = 'news-page'

block main
	include ../components/_global/banner-child
	include ../components/_global/breadcrumb
	include ../components/news/detail/index