extends _layout.pug

block var
	- var title = 'product-detail'
	- var bodyClass = 'product-page'

block main
	include ../components/_global/banner-child
	include ../components/_global/breadcrumb
	include ../components/product/detail/index