extends _layout.pug

block var
	- var title = 'services'
	- var bodyClass = 'services-page'

block main
	include ../components/_global/banner-child
	include ../components/_global/breadcrumb
	include ../components/services/index