section.contact
    .container 
        h2.main-title Liên hệ
        .contact__wrapper 
            .result-wrapper
                #results
                    ul#list
                        li.active
                            p.name Bla Bla hàng Việt
                            p.address
                                span.mdi.mdi-map-marker
                                | 2-45-12-101, Nishi-Nippori, Arakawa-ku, Tokyo 116-0013
                            p.phone 
                                span.mdi.mdi-phone
                                | 052-977-7555
                            p.phone 
                                span.mdi.mdi-fax
                                | 052-977-7555
                        li
                            p.name Bla Bla hàng Việt
                            p.address
                                span.mdi.mdi-map-marker
                                | 2-45-12-101, Nishi-Nippori, Arakawa-ku, Tokyo 116-0013
                            p.phone 
                                span.mdi.mdi-phone
                                | 052-977-7555
            .map-wrapper 
                #map 
                    #map_canvas 
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.9095063006303!2d106.67399073115861!3d10.745142104883351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752faab5739acf%3A0xfea41817ee93004e!2sHong%20Phat%20Pharmacy%20Store!5e0!3m2!1sen!2s!4v1586493356681!5m2!1sen!2s" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        .form-wrap