section.home-banner.section(data-anchor="section-1")
    .swiper-container 
        .swiper-wrapper 
            .swiper-slide 
                .img 
                    img(src="./img/home-bg-1.png", alt="")
                    .home-banner__content 
                        .container
                            p We Wheel The Industries
                    .button-scroll 
                        em.lnr.lnr-chevron-down
                        span scroll
            .swiper-slide 
                a(href="").img 
                    img(src="./img/home-banner.png", alt="")
            .swiper-slide 
                a(href="").img 
                    img(src="./img/home-banner.png", alt="")
            .swiper-slide 
                a(href="").img 
                    img(src="./img/home-banner.png", alt="")
            