section.home-about.section(data-anchor="section-2")
    .home-about__inner
        .container 
            .content-wrap
                .content
                    p.sub-title.aft Trải qua hơn 40 năm xây dựng và phát triển,
                    h2.main-title Vietranstimex là một doanh nghiệp vận tải hàng đầu ở Việt Nam và Khu vực.
                    p Chúng tôi chuyên cung cấp các dịch vụ vận tải đa phương thức quốc tế, bốc xếp và vận chuyển các loại hàng hóa, thiết bị siêu trường siêu trọng và hàng dự án dưới hình thức “chìa khóa trao tay”. VIETRANSTIMEX sở hữu và quản lý một khối lượng lớn máy móc, thiết bị hiện đại từ các đầu kéo và sơ-mi rơ-mooc thông thường cho đến các đầu kéo đặc chủng, rơ-mooc thủy lực thông thường, rơ-mooc tự hành và các cần cẩu có sức nâng lên tới 550 tấn.
                .btn-wrap
                    a.btn-1(href="") Xem thêm
                        img(src="./img/btn-icon.png", alt="")
                                        
                                    
