.container
    h2.main-title-dark Truyền thông
    ul.nav-sub 
        li.active 
            a(href="") Thư viện ảnh 
        li 
            a(href="") Thư viện video
    section.video 
        .video__gallery
            .row
                .col-sm-12.col-lg-6.left
                    .row.big 
                        .item
                            a(href="./img/pj-1.png" data-fancybox="image")
                                figure
                                    .image
                                        img(src="./img/pj-1.png", alt="alt")
                                    figcaption
                                        .title Video 1
                                        img(src="./img/play-btn.png", alt="")
                                        
                    .row.small
                        .col-6
                            .item
                                a(href="./img/pj-1.png" data-fancybox="image")
                                    figure                        
                                        .image
                                            img(src="./img/pj-1.png", alt="alt")
                                        figcaption
                                            .title Video 2
                                            img(src="./img/play-btn.png", alt="")
                        .col-6 
                            .item
                                a(href="./img/pj-1.png" data-fancybox="image")
                                    figure                          
                                        .image
                                            img(src="./img/pj-1.png", alt="alt")
                                        figcaption
                                            .title Video 3
                                            img(src="./img/play-btn.png", alt="")
                .col-sm-12.col-lg-6.right
                    .row.small
                        .col-6 
                            .item
                                a(href="./img/pj-1.png" data-fancybox="image")
                                    figure
                                        
                                        .image
                                            img(src="./img/pj-1.png", alt="alt")
                                        figcaption
                                            .title Video 4
                                            img(src="./img/play-btn.png", alt="")
                        .col-6 
                            .item
                                a(href="./img/pj-1.png" data-fancybox="image")
                                    figure
                                        
                                        .image
                                            img(src="./img/pj-1.png", alt="alt")
                                        figcaption
                                            .title Video 5
                                            img(src="./img/play-btn.png", alt="")
                    .row.big 
                        .item
                            a(href="./img/pj-1.png" data-fancybox="image")
                                figure
                                    .image
                                        img(src="./img/pj-1.png", alt="alt")
                                    figcaption
                                        .title Video 6
                                        img(src="./img/play-btn.png", alt="")