section.recruitment.main-section 
    .container 
        h2.main-title-dark Tuyển dụng
        .recruitment__content 
            .box-img 
                img(src="./img/rcm-1.png", alt="")
            .box-content 
                .content
                    p Tại VIETRANSTIMEX, chúng tôi luôn tôn trọng và đề cao con người, tôn trọng và đề cao văn hóa, cá tính và sự đóng góp của mỗi cá nhân.

                    p Là thành viên của VIETRANSTIMEX, bạn không chỉ được đánh giá cao và được tưởng thưởng xứng đáng cho những đóng góp cá nhân, mà còn được khuyến khích phát huy năng lực và kiến thức của mình để cùng đồng lòng chung sức xây dựng một môi trường làm việc chuyên nghiệp, tin cậy, tôn trọng lẫn nhau và thực sự hòa đồng.

                    p Là thành viên của VIETRANSTIMEX, bạn sẽ có cơ hội phát triển nghề nghiệp của mình trong một lĩnh vực vận tải đặc biệt tại Việt Nam. Chúng tôi cam kết mang đến cho bạn một môi trường học hỏi không ngừng, giúp bạn nâng cao kiến thức và kỹ năng chuyên môn.

                    p Tại VIETRANSTIMEX, chúng tôi tin rằng chỉ có học hỏi không ngừng mới có thể cạnh tranh trong kinh doanh và đạt được sự thành công bền vững. Mỗi nhân viên, dù ở vị trí nào, chức vụ nào, cũng thường xuyên được trau dồi và học tập những kỹ năng nghề nghiệp mới.

                    p Chính vì thế, các chương trình đào tạo của VIETRANSTIMEX luôn được nghiên cứu, thiết kế và cập nhật phù hợp với nhu cầu của từng nhân viên.
        .recruitment__banner
            p Hãy gia nhập VIETRANSTIMEX, nơi chúng tôi có thể nhận ra và phát triển các tiềm năng của bạn một cách toàn diện nhất !
        h2.main-title-dark.style-2 Vị trí tuyển dụng 
        .table-responsive 
            table.table
                thead
                    tr
                        th(scope='col') STT
                        th.noidung(scope='col') Vị trí ứng tuyển
                        th(scope='col') Số lượng 
                        th(scope='col') Khu Vực 
                        th(scope='col') Thời hạn

                tbody 
                    tr 
                        td 01
                        td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                        td 30/06/2019
                        td 
                        td
                    tr 
                        td 01
                        td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                        td 30/06/2019
                        td 
                        td
                    tr 
                        td 01
                        td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                        td 30/06/2019
                        td 
                        td  
                    tr 
                        td 01
                        td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                        td 30/06/2019
                        td 
                        td   
                    tr 
                        td 01
                        td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                        td 30/06/2019
                        td 
                        td   
                    tr 
                        td 01
                        td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                        td 30/06/2019
                        td 
                        td    
                    tr 
                        td 01
                        td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                        td 30/06/2019
                        td 
                        td   
                    
                



        