.projects-detail.main-section
    .container 
        .detail
            .detail__slider 
                .top-wrapper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                a.box-img(href="")
                                    img(src="./img/pj-1.png", alt="")
                            .swiper-slide
                                a.box-img(href="")
                                    img(src="./img/pj-2.png", alt="")
                            .swiper-slide
                                a.box-img(href="")
                                    img(src="./img/pj-3.png", alt="")
                            .swiper-slide
                                a.box-img(href="")
                                    img(src="./img/pj-4.png", alt="")
                            .swiper-slide
                                    .box-img(href="")
                                        img(src="./img/pj-4.png", alt="")
                            
                .thumbs-wrapper
                    .thumbs
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .box-img(href="")
                                        img(src="./img/pj-1.png", alt="")
                                .swiper-slide
                                    .box-img(href="")
                                        img(src="./img/pj-2.png", alt="")
                                .swiper-slide
                                    .box-img(href="")
                                        img(src="./img/pj-3.png", alt="")
                                .swiper-slide
                                    .box-img(href="")
                                        img(src="./img/pj-4.png", alt="")
                                .swiper-slide
                                        .box-img(href="")
                                            img(src="./img/pj-4.png", alt="")
                            
                    .swiper-nav
                        .button-prev
                            em.mdi.mdi-chevron-left
                        .button-next
                            em.mdi.mdi-chevron-right
            .detail__info
                h2.title Dự án Vận chuyển và hạ thủy kiện chân đế P12
                #social-share
                table.table 
                    tboby
                        tr 
                            td khối lượng   
                            td 950 tấn
                        tr 
                            td Kích thước
                            td D.48 x R.48 x C.32m
                        tr 
                            td Đoàn rơ-mooc SPMT 
                            td 02
                        tr 
                            td Trục 
                            td 48
.other-product.main-section
    .container 
        h2.main-title-dark Sản phẩm khác
        .other-product__slider
            .swiper-container
                .swiper-wrapper 
                    -for(i=0;i<5;i++)
                        .swiper-slide 
                            .items
                                .item 
                                    a.box-img(href="")
                                        img(src="./img/pj-1.png", alt="")
                                    .caption 
                                        a.title(href="") Vận tải đường bộ 
                                        a.view-more-btn(href="") Xem thêm 
                                            em.mdi.mdi-chevron-right
            .swiper-nav
                .button-prev
                    em.mdi.mdi-chevron-left
                .button-next
                    em.mdi.mdi-chevron-right