section.home-dealer.section(data-anchor="section-7")
    .container.home-dealer__inner 
        .content-wrap
            .content
                h2.main-title Mạng lưới hoạt động
                .dealer-list 
                    h4 miền bắc 
                    li.item
                        .icon
                            img(src="./img/list.png", alt="")
                        span Chi Nhánh Miền Bắc Công Ty Cổ Phần Vận Tải Đa Phương Thức Vietranstimex
            .btn-wrap
                a.btn-1(href="") Xem thêm
                    img(src="./img/btn-icon.png", alt="")
                                    
                                
