section.home-services.section(data-anchor="section-5")
    .home-services__slider 
        .container 
            h2.main-title Dịch vụ
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide 
                        .services 
                            .services__list 
                                -for(i=0; i<11; i++)
                                    a.services__item(href="") Alstom
                .swiper-nav
                    .button-prev
                        em.lnr.lnr-chevron-left
                    .button-next
                        em.lnr.lnr-chevron-right
