<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="top menu" value="1" resourcefile="" />
      <add name="main menu" value="2" resourcefile="" />
      <add name="nav menu" value="4" resourcefile="" />
      <add name="nav truyền thông" value="8" resourcefile="" />
      <add name="dự án" value="16" resourcefile="" />
      <add name="dự án nav" value="32" resourcefile="" />
      <add name="sản phẩm" value="64" resourcefile="" />
      <add name="about nav" value="128" resourcefile="" />
      <add name="about" value="256" resourcefile="" />
      <add name="tuyển dụng" value="512" resourcefile="" />
      <add name="home about" value="1024" resourcefile="" />
      <add name="home Product" value="2048" resourcefile="" />
      <add name="home Projects" value="4096" resourcefile="" />






    </position>

</settings>