
.download-section
    .table-responsive 
        table.table
            thead
                tr
                    th(scope='col') STT
                    th.noidung(scope='col') Tài liệu
                    th(scope='col') Ngày đăng tải
                    th(scope='col') Tải về
            tbody 
                tr 
                    td 01
                    td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                    td 30/06/2019
                    td 
                        a(href="")
                            em.lnr.lnr-download
                tr 
                    td 01
                    td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                    td 30/06/2019
                    td 
                        a(href="")
                            em.lnr.lnr-download
                tr 
                    td 01
                    td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                    td 30/06/2019
                    td 
                        a(href="")
                            em.lnr.lnr-download
                tr 
                    td 01
                    td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                    td 30/06/2019
                    td 
                        a(href="")
                            em.lnr.lnr-download
                tr 
                    td 01
                    td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                    td 30/06/2019
                    td 
                        a(href="")
                            em.lnr.lnr-download
                tr 
                    td 01
                    td.noidung Danh sách Cổ đông Nhà nước, Cổ đông lớn 6 tháng đầu năm 2019
                    td 30/06/2019
                    td 
                        a(href="")
                            em.lnr.lnr-download
            
