section.news.main-section
    .container 
        h2.main-title-dark Tin tức
        .nav-wrap
            .nav-mobile 
                span Danh mục
            ul.nav-sub 
                li.active 
                    a(href="") Thư viện ảnh 
                li 
                    a(href="") Thư viện video
        .news__list
            -for(i=0;i<6;i++)
                .news__items 
                    .item 
                        a(href="").box-img 
                            img(src="./img/pj-1.png", alt="")
                        .caption 
                            date 20/12/12 
                            a.title(href="") Vietranstimex Vận chuyển và hạ thủy kiện BK20 Jacket
                            p.briefcontent Tháng 7/2019 Vietranstimex đã vận chuyển và hạ thủy thành công kiện BK20 Jacket nặng Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus aperiam aliquam, incidunt blanditiis explicabo mollitia accusamus voluptatum debitis sunt reprehenderit totam impedit facere qui tenetur possimus rerum exercitationem eos sed.